header {

background-color:#4EA0FF;
width: 100%;
background-image: url(../img/pattern.png);
background-size: 250px;
}
.logo{
    width: 300px;
}
.color {
    color: darkgrey;
}

.author link{
    color:#20A9E5;
    text-decoration: none;
}
table{
    text-align:center;
    width: 100%;
}
.ultimo{
    text-align:center;
}
.big{
   height: 100px;
    background-color:#B1E5F2
}
thead{
   background-color: #20A9E5; 
   color: white;
}
.big2{
    height: 50px;
     background-color:#ffffff
 }
 tfoot{
    background-color: #B1E5F2;
    height: 50px;
 }
 .sottolineatura{
    background-color: yellow;
 }