header {

background-color:#4EA0FF;
width: 100%;
background-image: url(../img/pattern.png);
background-size: 250px;
}
.logo{
    width: 300px;
}
.color {
    color: darkgrey;
}

.author link{
    color:#20A9E5;
    text-decoration: none;
}
table{
    text-align:center;
    width: 100%;
}
.ultimo{
    text-align:center;
}
.big{

    background-color:#B1E5F2
}
thead{
   background-color: #20A9E5; 
   color: white;
   text-align: left;
}
.big2{
   
     background-color:#ffffff
 }
 tfoot{
    background-color: #B1E5F2;
   
 }
 
 .cellbigger{
    width: 60%;
 }
 mark{
    background-color: yellow;
    color: black;
 }
